Repository IAmJonoBo/Stack-Composer, changes with the labels that .github/labeler.yml gives for each.
All labels: ui, rust, docs, workflows, scripts

.github/labeler.yml:

---
# Auto-label PRs based on changed paths
ui:
  - 'stack-ui/**'
rust:
  - 'agents/**'
  - 'src-tauri/**'
  - 'rust-backend/**'
docs:
  - 'docs/**'
  - '**/*.md'
workflows:
  - '.github/workflows/**'
scripts:
  - 'scripts/**'

ci: deflake PR job (non-blocking Axe, cargo-deny only on push)
  .github/workflows/ci.yml
Labels: workflows

ci: gate heavy steps to Linux in push matrix; keep cross-OS builds/tests
  .github/workflows/ci.yml
Labels: workflows

ci: fix actionlint (remove matrix guard from PR job)
  .github/workflows/ci.yml
Labels: workflows

ci: install cargo-deny, force bash for scripts, fix Axe CLI target
  .github/workflows/ci.yml
Labels: workflows

chore(lint): streamline Trunk setup, add ignores/timeouts, reduce scope; add markdownlint-cli2 config; tweak biome script
  .github/workflows/ci.yml
  .markdownlint-cli2.yaml
  .trunk/trunk-ignore.yaml
  .trunk/trunk.yaml
  .vscode/settings.json
  biome.json
  package.json
  scripts/check-links.js
  stack-ui/index.html
  tsconfig.json
Labels: ui, workflows, scripts

ci(lint): add timeouts across lint/test steps; split fast linters; trim Trunk; markdownlint-cli2 config
  .github/workflows/ci.yml
  .markdownlint-cli2.yaml
  .trunk/trunk.yaml
  package.json
Labels: workflows

chore(trunk): pin CLI to 1.25.0 due to 1.30.0 download issues; add hooks/upgrade helpers; doc notes; tighten markdownlint config
  .markdownlint-cli2.yaml
  .trunk/trunk.yaml
  README.md
  package.json
Labels: docs

chore(scripts): avoid trunk in default lint/format; add lint:ci; simplify trunk:doctor
  .trunk/configs/.rustfmt.toml
  .trunk/configs/.shellcheckrc
  .trunk/configs/.yamllint.yaml
  .trunk/configs/svgo.config.mjs
  .trunk/trunk-ignore.yaml
  .trunk/trunk.yaml
  package.json
Labels: none

chore(trunk): restore trunk-ignore with broad path exclusions to prevent scanning heavy dirs
  .trunk/trunk-ignore.yaml
Labels: none

chore(sprints): add label setup script, expand S-01 seed issues with acceptance criteria, add Sprint Task issue template
  .github/ISSUE_TEMPLATE/sprint-task.yml
  .trunk/trunk.yaml
  scripts/seed-issues.sh
  scripts/setup-labels.sh
Labels: scripts

chore(tooling): add Trunk helpers and docs; update UI lint scripts
  .github/ISSUE_TEMPLATE/sprint-task.yml
  .github/workflows/biome.yml
  .markdownlint-cli2.jsonc
  .trunk/configs/.rustfmt.toml
  .trunk/configs/svgo.config.mjs
  .trunk/trunk.yaml
  README.md
  docs/src/SUMMARY.md
  docs/src/tooling/trunk.md
  package.json
  scripts/trunk-check.sh
  scripts/trunk-reset.sh
  stack-ui/README.md
  stack-ui/package.json
  stack-ui/tsconfig.json
  tsconfig.json
Labels: ui, docs, workflows, scripts

chore(deps): pnpm upgrade -r -L and refresh manifests
  package.json
  pnpm-lock.yaml
  stack-ui/package.json
Labels: ui

chore(vscode): disable LTeX; keep workspace settings tracked
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
Labels: none

ci(lint): fix workflow permissions and YAML headers; format VS Code settings
  .github/workflows/biome.yml
  .markdownlint-cli2.yaml
  .vscode/extensions.json
  .vscode/settings.json
Labels: workflows
